<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788585311629-7ghh36eggp79qevaruieqrktdbksplae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788585311629-7ghh36eggp79qevaruieqrktdbksplae</string>
	<key>API_KEY</key>
	<string>AIzaSyDT3tITnKeUqOXdXXwvYRYb3gEWcvG2-xQ</string>
	<key>GCM_SENDER_ID</key>
	<string>788585311629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.howlkar</string>
	<key>PROJECT_ID</key>
	<string>quiz-bfcf9</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-bfcf9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788585311629:ios:474c61c107e1a6e3a761c4</string>
</dict>
</plist>